.nav-bar-item {
  font-family: 'Barlow', sans-serif;

  outline: none;

  .link {
    outline: none;
    text-decoration: none;
    color: #787878;

    &:hover {
      cursor: pointer;
      color: #1b1b1b;
    }

    &:active {
      color: #a7a7a7;
    }
  }
}