.footer {
  margin-top: 2vh;
  height: 50vh;
  background-color: #102C4D;

  font-family: Barlow;
  font-weight: 900;
  font-size: 144px;

  color: #FFFFFF;

  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}