$border-col: black;

.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: black;
  color: white;
  font-family: "Barlow";
  font-weight: bolder;
  border: 1px solid $border-col;
  cursor: pointer;

  transition: 300ms all cubic-bezier(0.19, 1, 0.22, 1);

  &:hover {
    background-color: white;
    color: black;
  }

  &.google-btn {
    $border-col: #4285f4;
    background-color: #4285f4;
    color: white;
    border: 1px solid $border-col;

    &:hover {
      background-color: #3578e8;
    }
  }
}
